#* @vtlvariable name="results" type="java.util.ArrayList<com.dontah.domain.ResultEntity>" *#

#foreach($result in $results)
    #set($id = $result.company.codBolsa)
<table class="table table-striped table-hover table-condensed table-bordered">
    <tbody>
    <tr>
        <td class="col-md-1 col-sm-1 col-xs-1" style="vertical-align: middle;text-align: center;">
            <span class="label label-default" style="font-size: 18px;">$result.order&ordm;</span>
        </td>
        <td class="col-md-3 col-sm-3 col-xs-9" style="vertical-align: middle;">
            <img class="lazy" width="46px" src="/img/${result.company.codBolsa}.gif">
            $result.company.codBolsa $result.company.nome
            <a href="#div$id" class="btn btn-default btn-link btn-xs inline">
                <span class="glyphicon glyphicon-plus"></span> detalhes</a>
        </td>
        <td class="middle col-md-2 col-sm-2 hidden-xs" >
            <strong>Lucro</strong><br>
            $result.lucro
        </td>
        <td class="middle col-md-2 col-sm-2 hidden-xs" >
            <strong>D&iacute;vida</strong><br>
            $result.divida
        </td>
        <td class="middle col-md-2 col-sm-2 hidden-xs" >
            <strong>ROE</strong><br>
            $result.Roe
        </td>
        <td class="success middle col-md-2 col-sm-2 col-xs-2">
            <strong>Pontua&ccedil;&atilde;o Final</strong><br>
            $result.finalResult</td>
    </tr>
    </tbody>
</table>
#end

#foreach($result in $results)
    #set($id = $result.company.codBolsa)
<div style="display: none">
    <div id="div$id" tabindex="-1" role="dialog" aria-hidden="true">
        <h3><span class="label label-default">$result.order&ordm;</span> $id - $result.company.nome
            <img id="img$id" src="/img/${result.company.codBolsa}.gif" src="">
        </h3>
        <div class="btn pull-right">
            Retirado de
            <a target="_blank" href="http://www.bastter.com/mercado/acao/${result.company.codBolsa}.aspx}">
                <img style="width: 112px;" src="/img/logo.png"> </a>
        </div>
        <table class="table table-striped table-hover table-condensed table-bordered">
            <thead>
            <tr>
                <th>Ano</th>
                <th>Patrim&ocirc;nio</th>
                <th>Receita L&iacute;quida</th>
                <th>Lucro</th>
                <th class="hidden-xs hidden-sm">ROE</th>
                <th class="hidden-xs hidden-sm">Caixa</th>
                <th class="hidden-xs hidden-sm">D&iacute;vida</th>
            </tr>
            </thead>
            <tbody>
                #foreach($balance in $result.company.balanceList)
                <tr>
                    <td>$!balance.pk.ano</td>
                    <td>$!balance.patrimonio</td>
                    <td>$!balance.receitaLiquida</td>
                    <td >$!balance.lucro</td>
                    <td class="hidden-xs hidden-sm">$!balance.roe</td>
                    <td class="hidden-xs hidden-sm">$!balance.caixa</td>
                    <td class="hidden-xs hidden-sm">$!balance.divida</td>
                </tr>
                #end
            </tbody>
        </table>
    </div>
</div>
#end

#if($showNext)
    #set($last = $results.size() - 1)
    #if(380 != $results[$last].order)
        <a href="/infinite/?whereAmI=$results[$last].order" class='btn primary last' rel="nofollow">Next set &raquo;</a>
    #end
#end

