#* @vtlvariable name="companyNames" type="java.util.ArrayList<com.dontah.domain.Company>" *#
<script src="/bower_components/jquery/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/jquery-colorbox/jquery.colorbox-min.js"></script>
<script src="/bower_components/TouchSwipe/jquery.touchSwipe.min.js"></script>
<script src="/bower_components/jquery-scroll/jquery.jscroll.min.js"></script>
<script src="/bower_components/select2/select2.min.js"></script>
<script src="/bower_components/select2/select2_locale_pt-BR.js"></script>
<script>
    var preload_data =
            [#foreach($company in $companyNames){id:'$company.codBolsa',text:'$company.codBolsa - $company.nome'}#if ($velocityHasNext),#end#end]
</script>
<script src="/js/main.min.js"></script>
<div id="fb-root"></div>
<script>
    //facebook
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=286103781577570&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<script>
    //analitycs
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-53481525-1', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>