#* @vtlvariable name="boostAnalizers" type="java.util.ArrayList<com.dontah.processors.BoostAnalizer>" *#
#* @vtlvariable name="results" type="java.util.ArrayList<com.dontah.service.Result>" *#
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    </head>
	<body>

        <script>
            function showHide(elem) {
                var id = '#div' + elem.id;
                if( $(id).is(':visible') ) {
                    $(id).hide();
                }else {
                    $(id).show();
                }
            }
        </script>

        <div class="container">
            Pesos escolhidos:
            <p>
                #foreach($boostAnalizer in $boostAnalizers)
                    $boostAnalizer.processor.name $boostAnalizer.boost <br>
                #end
            </p>
            #foreach($result in $results)
                #set($id = $result.company.codBolsa)

               <p>$result.company.codBolsa $result.company.nome $result.result <a id="$id" href="javascript:void(0);" onclick="showHide(this);">Detalhes</a></p>

                <div style="display: none" id="div$id">

                    <p>#foreach($boostAnalizer in  $result.boostAnalizerList )
                        $boostAnalizer.processor.name $boostAnalizer.result ($boostAnalizer.resultWithBoostApplied)
                    #end </p>

                    <table class="table table-striped table-hover table-condensed table-bordered" >
                        <thead>
                            <tr>
                                <th>ano</th>
                                <th>patrimonio</th>
                                <th>receitaLiquida</th>
                                <th>lucro</th>
                                <th>roe</th>
                                <th>caixa</th>
                                <th>divida</th>
                            </tr>
                        </thead>
                        <tbody>
                            #foreach($balance in $result.company.balanceList)
                                <tr>
                                    <td>$!balance.ano</td>
                                    <td>$!balance.patrimonio</td>
                                    <td>$!balance.receitaLiquida</td>
                                    <td>$!balance.lucro</td>
                                    <td>$!balance.roe</td>
                                    <td>$!balance.caixa</td>
                                    <td>$!balance.divida</td>
                                </tr>
                            #end
                        </tbody>
                    </table>
                </div>
            #end
        </div>
	</body>
</html>
	
