#parse("header.vm")

<div class="container">
    <div class="row">


        <div id="mobilehidden" class="hidden-xs"></div>

        <div class="col-md-9 col-sm-12 col-xs-12 infinitescroll">

            #parse("data.vm")

        </div>
        <div class="col-md-3 hidden-xs hidden-sm">
            <div class="fb-like-box" data-href="https://www.facebook.com/rankingdeacoes" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
        </div>
    </div>
</div>

#parse("footer.vm")
