#* @vtlvariable name="esc" type="org.apache.velocity.tools.generic.EscapeTool" *#
#parse("header.vm")

<div class="container">
    <div class="row">


        <div id="mobilehidden" class="hidden-xs"></div>
        <div class="hidden-md hidden-lg col-sm-12 col-xs-12">
            <p>
                <div class="fb-like" data-href="https://www.facebook.com/rankingdeacoes"
                     data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
            </p>
        </div>

        <div class="col-md-9 col-sm-12 col-xs-12">

            <p>
                <input type="hidden" id="e21" style="width:100%;" data-placeholder="Digite o c&oacute;digo ou nome da empresa"/>
            </p>

            <div class="select2-elements" style="display: none;"></div>
            <div class="table-data-companies infinitescroll">
                <div class="row"><div class="col-sm-12"><p class="text-right">Atualizado em 16/08/2014</p></div></div>
                #parse("data.vm")
            </div>

        </div>
        <div class="col-md-3 hidden-xs hidden-sm">
            <div class="fb-like-box" data-href="https://www.facebook.com/rankingdeacoes" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
        </div>
    </div>
</div>

#parse("footer.vm")
