#parse("header.vm")

<a class="inline" href="#demoLightbox">Open Lightbox</a>

<div style='display:none'>
    <div id="demoLightbox" tabindex="-1" role="dialog" aria-hidden="true">
        <p><strong>This content comes from a hidden element on this page.</strong></p>
        <p>The inline option preserves bound JavaScript events and changes, and it puts the content back where it came from when it is closed.</p>
        <p><a id="click" href="#" style='padding:5px; background:#ccc;'>Click me, it will be preserved!</a></p>

        <p><strong>If you try to open a new Colorbox while it is already open, it will update itself with the new content.</strong></p>
        <p>Updating Content Example:<br />
       <a class="ajax" href="../content/ajax.html">Click here to load new content</a></p>
    </div>
</div>
#parse("footer.vm")