#* @vtlvariable name="esc" type="org.apache.velocity.tools.generic.EscapeTool" *#
#parse("header.vm")

<div class="container">
    <div class="row">


        <div id="mobilehidden" class="hidden-xs"></div>
        <div class="hidden-md hidden-lg col-sm-12 col-xs-12">

            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- top mobile -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:320px;height:50px"
                 data-ad-client="ca-pub-3478581901912412"
                 data-ad-slot="2088009281"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>

        </div>

        <div class="col-md-9 col-sm-12 col-xs-12">

            <p>
            <div class="fb-like" data-href="https://www.facebook.com/rankingdeacoes"
                 data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
            </p>
            <br>
            <p class="text-justify">
                O <strong>Ranking de A$esc.html("çõ")es</strong> é um projeto destinado a pontuar todas as empresas da BM$esc.html("&")FBovespa. Do maior ao menor, as empresas s$esc.html("ão") listadas com base em seus dados hist$esc.html("ó")ricos, como lucro, ROE(retorno sobre patrim$esc.html("ô")nio) e d$esc.html("í")vida.
            </p>
            <br>
            <p class="hidden-md hidden-lg">
                <input type="hidden" id="e21" style="width:100%;" data-placeholder="Digite o c&oacute;digo ou nome da empresa"/>
            </p>

            <div class="select2-elements" style="display: none;"></div>
            <div class="table-data-companies infinitescroll">
##                <div class="row"><div class="col-sm-12"><p class="text-right">Atualizado em 16/08/2014</p></div></div>
                #parse("data.vm")
            </div>

        </div>
        <div class="col-md-3 hidden-xs hidden-sm">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- right side -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:300px;height:600px"
                 data-ad-client="ca-pub-3478581901912412"
                 data-ad-slot="9824928883"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <div class="fb-like-box" data-href="https://www.facebook.com/rankingdeacoes" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
        </div>
    </div>
</div>

#parse("footer.vm")
